@tailwind preflight;
@tailwind components;

/******************************************************************************
 *                               Custom components                            *
 ******************************************************************************/

/******************** Core ********************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,700,800);

body {
    @apply bg-white text-base text-black text-left font-sans font-normal leading-normal;
}

h1 {
    @apply text-xl text-purple uppercase font-extrabold my-4;
}

h2 {
    @apply text-lg text-black uppercase font-extrabold mb-2;
}

h3 {
    @apply text-base uppercase font-bold;
}

p {
    @apply mb-6;
}

p:last-child {
    @apply mb-0;
}

a {
    @apply no-underline text-purple font-bold;
    transition: opacity .2s;
}

a:hover {
    @apply opacity-80;
}

/******************** Navigation ********************/

nav {
    @apply bg-purple text-sm text-center p-4;
}

nav ul {
    @apply list-reset flex justify-around my-2;
}

nav a {
    @apply text-white uppercase;
}

nav .logo {
    @apply h-12 w-auto my-3;
}

nav .en-flag {
    height: 1.2rem;
    @apply w-auto align-middle;
}

/******************** Footer ********************/

footer {
    @apply bg-purple text-white text-xs text-center mt-8 py-6;
}

footer p {
    @apply mb-2;
}

footer a {
    @apply text-white;
}

a.logo-romain-marchand {
    @apply opacity-80;
}

a.logo-romain-marchand:hover {
    @apply opacity-100;
}

.logo-romain-marchand img {
    width: 1.6rem;
    @apply h-auto align-middle;
}

/******************** Hero ********************/

.hero {
    @apply bg-purple bg-no-repeat bg-center bg-cover;
    @apply h-screen -mt-4 text-center;
    @apply flex items-center;
    background-image: url("img/hero-bg.jpg");
    position: relative; /* used for the gradient */
}

.hero article:before {
    content: "";
    background: linear-gradient(to bottom, rgba(191,129,197,1), rgba(191,129,197,1));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
}

.hero article {
    @apply w-full;
}

.hero h1, .hero h2, .hero h3 {
    @apply text-white;
}

@tailwind utilities;

